.red {
    color: #EE352E;
}

.green {
    color: green;
}

.purple{
    color: #B933AD;
}

.yellow{
    color: #FCCC0A;
}
    
.blue{
    color: #0039A6; 
}

.orange{
    color: #FF6319; 
}

.grey{
    color: grey; 
}

.brown{
    color: #996633; 
}



/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}